<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/Slider1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Shop Thời Trang Hot Nhất Hiện Nay</strong></h1>
                        <p class="m-b-40">Cho tôi biết lựa chọn của bạn đi nào! <br> Chúc bạn có một ngày thật tốt và chốt đơn nhiệt tình!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Slider_3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Những mẫu quần áo sang trọng, hợp với xu hướng! </strong></h1>
                        <p class="m-b-40">Lựa chọn của bạn là gì? <br> Hãy lựa chọn thỏa thích vì shop tôi sẽ áp ứng mọi nhu cầu của bạn!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/Slider_4.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br> Mẫu áo thun POLO sành điệu nhất!</strong></h1>
                        <p class="m-b-40">Đừng ngần ngại mà hãy góp ý cho shop của chúng tôi! <br> Chúc bạn có một buổi shopping thật thành công !</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->





<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>